.articles {
	background-color: $veryLightGray;
}

.article {
	&__content {
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;

		@include breakpoint-up(medium) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint-up(linear-gradient) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {
	}

	&__image {
	}

	&__text {
	}

	&__author {
	}

	&__title {
	}

	&__description {
	}
}
